import 'package:built_value/built_value.dart';

part '##file_name##_view_model.g.dart';

/// View model representing a [##class_name##View].
abstract class ##class_name##ViewModel
    implements Built<##class_name##ViewModel, ##class_name##ViewModelBuilder> {
 
 /* Finish body functions
 *
 */

  ##class_name##ViewModel._();
  factory ##class_name##ViewModel([updates(##class_name##ViewModelBuilder b)]) =
      _$##class_name##ViewModel;
}
